@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@500&display=swap');

@font-face {
    font-family: game;
    src: url(./ARCADECLASSIC.TTF);
  }

* , *::before, *::after {
    box-sizing: border-box;
    font-family: game ,'Orbitron', sans-serif;
    font-weight: normal;
    

}

body {
background-image: url(./117771661-old-game-background-classic-retro-arcade-design-with-pipe-and-brick.webp);
background-repeat: no-repeat;
background-size: cover;


} 


.calculator-grid {
    
    display: grid;
    justify-content: center;
    
  
    
    align-content: center;
    grid-template-columns: repeat(4, 100px);
    grid-template-rows: minmax(120px, auto) repeat(5, 15vh);

}




.calculator-grid > button {
    cursor: pointer;
    font-size: 2rem;
    border: 2px solid green;
    outline: none;
    background-color: rgb(255, 255, 255, .75);
    

}

.calculator-grid > button:hover {
    background-color: rgba(91, 129, 253, 0.9);
}

.span-two {
    grid-column: span 2;
}

.output  { 
    grid-column: 1 / -1;
    background-color: rgba(0, 0, 0, .75);
    display: flex;
    align-items: flex-end;
    justify-content: space-around;
    flex-direction: column;
    padding: 10px;
    word-wrap: break-word;
    word-break: break-all;

}


.output .anteriore-oper {
color: rgba(255, 255, 255, .75);
font-size: 1.5rem;
}

.output .atuale-oper  {
    color: white;
    font-size: 2.5rem;
    }

 .output .eternal-oper {
    color: green;
    font-size: 1rem;
    position: relative;
    right: 200px;
    bottom: 70px;
 }   


 .span-tree {
    grid-column: span 3;
}

#risultato {
    position: relative;
    top: 25px;
    text-align: right;
    background-color: transparent;
    color: rgb(10, 190, 106);
    border: 0;
    font-size: 2rem;
    word-wrap: break-word;
    word-break: break-all;
    
}

input {
    word-wrap: break-word;
    word-break: break-all;
}

